:root {
  --clr-primary: rgb(52, 113, 150);
  --clr-light: #f4f4f4;
  --clr-dark: black;
  --clr-warning: rgb(103, 36, 36);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../src/Assets/Images/pills_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tab-selection {
  display: flex;
  border: none;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 254, 254, 0.246);
  margin: auto;
  color: var(--clr-dark);
  padding-top: 45px;
  justify-content: space-evenly;
}

.tab-selection > div {
  border: none;
  width: 1000px;
  text-align: center;
  font-size: 35px;
  color: var(--clr-dark);
}

a {
  color: rgb(0, 0, 0);
}

.icons {
  color: rgb(12, 8, 8);
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

.icons:hover {
  opacity: 70%;
  color: var(--clr-primary);
}

a {
  color: var(--clr-dark);
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

a:hover {
  opacity: 70%;
  color: var(--clr-warning);
}

.current {
  opacity: 100%;
  color: var(--clr-warning);
  background-color: rgba(245, 245, 245, 0.542);
  padding: 2.6rem;
}

p {
  color: black;
}

table,
tr {
  background-color: rgba(255, 166, 0, 0.65);
  margin: 20px 20px;
  width: 98%;
}

tr {
  background-color: beige;
  width: fit-content;
  text-align: center;
}

td {
  height: 25px;
  vertical-align: center;
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

h3 {
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
}
